[submodule "fundamental-track/aging-theories/bolshie-kurtki"]
	path = fundamental-track/aging-theories/bolshie-kurtki
	url = https://github.com/Ggalikk/Aging_hackathon-.git
[submodule "fundamental-track/aging-theories/generation-v"]
	path = fundamental-track/aging-theories/generation-v
	url = https://github.com/pagoston0207/aging_theories.git
[submodule "fundamental-track/aging-theories/old-but-gold"]
	path = fundamental-track/aging-theories/old-but-gold
	url = https://github.com/Dashhha20Voyt/aging-theory-universe.git
[submodule "fundamental-track/aging-theories/diana-zagirova"]
	path = fundamental-track/aging-theories/diana-zagirova
	url = https://github.com/DianaZagirova/Ctrl-Old-Delete.git
[submodule "fundamental-track/aging-theories/ryan"]
	path = fundamental-track/aging-theories/ryan
	url = https://github.com/ryanDing26/Hackaging-team-Ryan.git
[submodule "fundamental-track/aging-theories/bioloshki"]
	path = fundamental-track/aging-theories/bioloshki
	url = https://github.com/blackbalancef/aging-theories.git
[submodule "fundamental-track/ovarian-aging-value/intercellular-nomads"]
	path = fundamental-track/ovarian-aging-value/intercellular-nomads
	url = https://github.com/Mary200377/THE-VALUE-OF-DELAYED-OVARIAN-AGING.git
[submodule "fundamental-track/ovarian-aging-value/optimal-rationalization"]
	path = fundamental-track/ovarian-aging-value/optimal-rationalization
	url = https://github.com/EliasSchlie/quantifying-the-value-of-delayed-ovarian-aging.git
[submodule "fundamental-track/menopause-prediction/ageally"]
	path = fundamental-track/menopause-prediction/ageally
	url = https://github.com/vovchikzh/hackaging2025-ageally-menopause-menopause-prediction.git
[submodule "fundamental-track/singularis/digital-humans"]
	path = fundamental-track/singularis/digital-humans
	url = https://github.com/IvanArtemov/aaiaa-singularis.git
[submodule "fundamental-track/sequence-to-function/westcoastvectors"]
	path = fundamental-track/sequence-to-function/westcoastvectors
	url = https://github.com/ryanjmccall/protein-seq-to-func.git
[submodule "rapid-adoption-track/no-country-for-old-men"]
	path = rapid-adoption-track/no-country-for-old-men
	url = https://github.com/bfaria13/FemTrack_v1.git
[submodule "rapid-adoption-track/longbio-agent"]
	path = rapid-adoption-track/longbio-agent
	url = https://github.com/asverlov/longbio-agent.git
[submodule "fundamental-track/sequence-to-function/power-rangers"]
	path = fundamental-track/sequence-to-function/power-rangers
	url = https://github.com/PandaMia/sequence-to-function.git
[submodule "fundamental-track/sequence-to-function/elephant-labs"]
	path = fundamental-track/sequence-to-function/elephant-labs
	url = https://github.com/davidzheglov/longevity-knowledge-base.git
[submodule "fundamental-track/future-of-evidence/budapest"]
	path = fundamental-track/future-of-evidence/budapest
	url = https://github.com/sugark/hackaging-ease-agent.git
[submodule "fundamental-track/singularis/test-team"]
	path = fundamental-track/singularis/test-team
	url = https://github.com/lo-dn/singularis.git
[submodule "fundamental-track/trial-outcome-prediction/cindy-team"]
	path = fundamental-track/trial-outcome-prediction/cindy-team
	url = https://github.com/Cynthia-Nwajiobi/ai-agent-for-clinical-trial-prediction.git
[submodule "fundamental-track/dili-prediction/fit-predict"]
	path = fundamental-track/dili-prediction/fit-predict
	url = https://github.com/alina-akh/DILI_AI.git
[submodule "fundamental-track/sequence-to-function/dvvva"]
	path = fundamental-track/sequence-to-function/dvvva
	url = https://github.com/DV-V-VA/magistrum.git
[submodule "rapid-adoption-track/hellomri"]
	path = rapid-adoption-track/hellomri
	url = https://github.com/kondratevakate/hellomri.git
[submodule "rapid-adoption-track/singularity-agent-factory"]
	path = rapid-adoption-track/singularity-agent-factory
	url = https://github.com/neuroidss/Combination-Synergy-Engine.git
