[submodule "fundamental-track/aging-theories/bolshie-kurtki"]
	path = fundamental-track/aging-theories/bolshie-kurtki
	url = https://github.com/Ggalikk/Aging_hackathon-.git
[submodule "fundamental-track/aging-theories/generation-v"]
	path = fundamental-track/aging-theories/generation-v
	url = https://github.com/pagoston0207/aging_theories.git
[submodule "fundamental-track/aging-theories/old-but-gold"]
	path = fundamental-track/aging-theories/old-but-gold
	url = https://github.com/Dashhha20Voyt/aging-theory-universe.git
[submodule "fundamental-track/aging-theories/diana-zagirova"]
	path = fundamental-track/aging-theories/diana-zagirova
	url = https://github.com/DianaZagirova/Ctrl-Old-Delete.git
[submodule "fundamental-track/aging-theories/ryan"]
	path = fundamental-track/aging-theories/ryan
	url = https://github.com/ryanDing26/Hackaging-team-Ryan.git
[submodule "fundamental-track/aging-theories/bioloshki"]
	path = fundamental-track/aging-theories/bioloshki
	url = https://github.com/blackbalancef/aging-theories.git
[submodule "fundamental-track/ovarian-aging-value/intercellular-nomads"]
	path = fundamental-track/ovarian-aging-value/intercellular-nomads
	url = https://github.com/Mary200377/THE-VALUE-OF-DELAYED-OVARIAN-AGING.git
[submodule "fundamental-track/ovarian-aging-value/optimal-rationalization"]
	path = fundamental-track/ovarian-aging-value/optimal-rationalization
	url = https://github.com/EliasSchlie/quantifying-the-value-of-delayed-ovarian-aging.git
[submodule "fundamental-track/menopause-prediction/ageally"]
	path = fundamental-track/menopause-prediction/ageally
	url = https://github.com/vovchikzh/hackaging2025-ageally-menopause-menopause-prediction.git
[submodule "fundamental-track/singularis/digital-humans"]
	path = fundamental-track/singularis/digital-humans
	url = https://github.com/IvanArtemov/aaiaa-singularis.git
[submodule "fundamental-track/sequence-to-function/westcoastvectors"]
	path = fundamental-track/sequence-to-function/westcoastvectors
	url = https://github.com/ryanjmccall/protein-seq-to-func.git
[submodule "rapid-adoption-track/no-country-for-old-men"]
	path = rapid-adoption-track/no-country-for-old-men
	url = https://github.com/bfaria13/FemTrack_v1.git
[submodule "rapid-adoption-track/longbio-agent"]
	path = rapid-adoption-track/longbio-agent
	url = https://github.com/asverlov/longbio-agent.git
