[submodule "fundamental-track/aging-theories/bolshie-kurtki"]
	path = fundamental-track/aging-theories/bolshie-kurtki
	url = https://github.com/Ggalikk/Aging_hackathon-.git
[submodule "fundamental-track/aging-theories/generation-v"]
	path = fundamental-track/aging-theories/generation-v
	url = https://github.com/pagoston0207/aging_theories.git
[submodule "fundamental-track/aging-theories/old-but-gold"]
	path = fundamental-track/aging-theories/old-but-gold
	url = https://github.com/Dashhha20Voyt/aging-theory-universe.git
[submodule "fundamental-track/aging-theories/diana-zagirova"]
	path = fundamental-track/aging-theories/diana-zagirova
	url = https://github.com/DianaZagirova/Ctrl-Old-Delete.git
[submodule "fundamental-track/aging-theories/ryan"]
	path = fundamental-track/aging-theories/ryan
	url = https://github.com/ryanDing26/Hackaging-team-Ryan.git
[submodule "fundamental-track/aging-theories/bioloshki"]
	path = fundamental-track/aging-theories/bioloshki
	url = https://github.com/blackbalancef/aging-theories.git
